/* Set up the display of the main board */

.kanban{
    display: flex;
    padding: 30px;
    width: 750px;
    background: #223084;
    border-radius: 5px;
}

/* Fonts for the entire board. */
.kanban *{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* How much space the columns of the board get.*/
.kanban__column{
    flex: 1
}

/* Spacing out each column of the board, with margin on the right, except for the last. */
.kanban__column:not(:last-child){
    margin-right: 30px;
}

/* Disable interaction with column titles, and sete their display options. */
.kanban__column-title{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    /* This line in particular stops user interaction. */
    user-select: none;
}

/* Items in the board */
.kanban__item-input{
    padding: 10px 15px;
    box-sizing: border-box;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}


/* Where items will land highlighted */
.kanban__dropzone{
    height: 20px;
    transition: background 0.15s,height 0.15s;
}

/* Active items Opacity */

.kanban__dropzone-active{
    height: 40px;
    background: rgba(0,0,0,0.25);
}


/* Adding items to the board */
.kanban__add-item{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0,0,0,0.25);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}